<div ng-controller="mainCtrl">

  <h1>Your Profile</h1>

  <div ng-repeat="match in data">
    <img src="{{ match.currentUser.picture }}" />
    <div class="info">
        <div class="name">
            {{ match.currentUser.name }}
        </div>
    </div>
  </div>

  <h2>We think you match best with{{ data.currentUser.name }}!</h2>

  <!-- <div ng-repeat="match in data">
    <img src="{{ match.currentUser.picture }}" />
    <div class="info">
        <div class="name">
            {{ match.currentUser.name }}
        </div>
    </div>
  </div> -->
</div>
