body {
  background: #FBDA52;
  text-align: center;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}

ul, li {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

#mainHeader {
  color: grey;
  font-size: 80px;
  font-family: 'Galada', cursive;
  /*padding: 20px;*/
}

#subHeader {
  padding: 20px
}

.surveyItem {
  padding: 20px;
  height: 700px;
  width: auto;
}

.surveyImg {
  height: 300px;
  width: auto;
  padding: 20px;
}
